.filters {
  color: white;
  padding: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  width: 100vw;
}

.filters input[type="text"] {
  padding: 8px;
  color: white;
  border-radius: 25px;
  outline: none;
  background: none;
  border: 1px solid #454fc0;
}

.filters input[type="text"]:disabled {
  opacity: 0.2;
}

.filters input[type="radio"], .filters input[type="checkbox"] {
  display: none;
}

.filters label {
  cursor: pointer;
  font-size: 0.8em;
}

.filters label svg {
font-size: 1.5em;
}

.filters .selected {
  color: #454fc0;
}

.trunfo-option {
  display: flex;
  align-items: center;
}

.trunfo-option.off svg {
  color: #c04545;
  margin-left: 10px;
}

.trunfo-option.on svg {
  color: #454fc0;
  margin-left: 10px;
}
